doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    div(class = 'nav-bar')
      ul
        li
          a(href = '/') Home
        li 
          a(href = '/skin_instance/create') Add skin
      div(class = 'action-bar')
        block action_bar
    div(class = 'content')
      block content
