doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css', integrity='sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls', crossorigin='anonymous')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    div(class = 'menu pure-menu custom-restricted-width')
      span(class = 'pure-menu-heading') INVENTORY
      ul(class = 'pure-menu-list')
        li(class = 'pure-menu-item')
          a(href = '/', class="pure-menu-link") Home
        li(class = 'pure-menu-item')
          a(href = '/skin_instance/create', class="pure-menu-link") Add skin
    div(class = 'content')
      block content
