extends ../layout

block content
    h1= title 
    form(method='POST', action='')
        label(for='skin-name') Skin name:
        input(type='text', name='skin-name', placeholder='Enter your skin name...')
        label(for='weapon') Weapon: 
        select(name='weapon-id')
            each weapon in weaponsList
                option(value= weapon.id) !{weapon.name}
        button(type='submit') Create 

    if (errors)
        ul
            each err in errors
                li 
                    p= err.msg