extends ../layout

block content
    if skinsList.length
        ul
            each skin in skinsList 
                li
                    a(href= skin.url, class='clean')= skin.name
    else
        p Empty list.