extends ..\layout

block content
    if skinInstancesList.length
        ul
            each skinInstance in skinInstancesList 
                li 
                    p= skinInstance.skin.name
                    p #[strong Float:] #{skinInstance.float}
                    p #[strong Wear:] #{skinInstance.wear_condition}
                    p #[strong Price:] #{skinInstance.price}

    else
        p Empty list.