extends ../../layout

block content
    if skinInstancesList.length
        ul
            each skinInstance in skinInstancesList 
                li 
                    p= skinName
                    p #[strong Float:] #{skinInstance.float}
                    p #[strong Wear:] #{skinInstance.wear_condition}
                    p #[strong Price:] #{skinInstance.price}
                    a(href= skinInstance.url, class='pure-button') Details

    else
        p Empty list.